<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Account History</title>
</head>

<body>
    <script src="/public/js/script.js"></script>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'Messenger'));
        window.extAsyncInit = () => {
            // TODO: How to parse env file from here?
            MessengerExtensions.getSupportedFeatures(function success(result) {
                let features = result.supported_features;
                if (features.includes("context")) {
                    MessengerExtensions.getContext('111755750225527',
                        function success(thread_context) {
                            // success
                            document.getElementById("psid").value = thread_context.psid;
                        },
                        function error(err) {
                            // error
                            console.error(err);
                        }
                    );
                }
            }, function error(err) {
                // error retrieving supported features
                console.error(err);
            });
        };
    </script>
    <form onsubmit="searchDate()" id="form_search_date">
        <label for="date_selector" id="date_selector_label">Select date:</label>
        <input type="date" id="date_selector" name="date" required value=<%=""+data.date %> >
        <input type="submit" id="btn_search" value="Search">
    </form>
    <ul class="history_list">
        <% if(data.history.length!==0) {%>
        <% for(var i=0; i<data.history.length;i++) {%>
        <li class="history_list_item" id=<%="li_"+data.history[i]._id%>>
            <div class="item_header">
                <div class="date_category">
                    <p class="date">
                        <% if(data.history[i].date.getDay() === 0) { %>
                        Sunday,
                        <%} else if(data.history[i].date.getDay() === 1) {%>
                        Monday,
                        <%} else if(data.history[i].date.getDay() === 2) {%>
                        Tuesday,
                        <%} else if(data.history[i].date.getDay() === 3) {%>
                        Wednesday,
                        <%} else if(data.history[i].date.getDay() === 4) {%>
                        Thursday,
                        <%} else if(data.history[i].date.getDay() === 5) {%>
                        Friday,
                        <%} else if(data.history[i].date.getDay() === 6) {%>
                        Saturday,
                        <%}%>
                        <%=data.history[i].date.getDate() + "." + data.history[i].date.getMonth() + "." + data.history[i].date.getFullYear()%>
                    </p>
                    <p class="category"><%=data.history[i].category%></p>

                </div>
                <% if(data.history[i].category === "Income") {%>
                <p class="amount green"><%=data.history[i].amount.toFixed(2)%></p>
                <% } else {%>
                <p class="amount"><%=data.history[i].amount.toFixed(2)%></p>
                <% } %>
                <button class="btn_remove" id=<%="del_"+data.history[i]._id%> onclick="deleteItem(this)">×</button>
            </div>
            <% if(data.history[i].description !== "skipped") {%>
            <p class="description"><%=data.history[i].description%></p>
            <% }%>

        </li>
        <% }%>
        <% } else {%>
            <li class="history_list_item">Not found records</li>
            <% }%>
        </ul>
    <script>
    var amounts = document.querySelectorAll(".amount");
    amounts.forEach(function(amount){
        amount.innerHTML = amount.innerHTML.replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, "$1 ");
    })
    </script>
</body>

</html>